<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>uni00B5</key>
    <string>uni00B_5.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>uni0162</key>
    <string>uni0162.glif</string>
    <key>uni0163</key>
    <string>uni0163.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>AEacute</key>
    <string>A_E_acute.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>uni021A</key>
    <string>uni021A_.glif</string>
    <key>uni021B</key>
    <string>uni021B_.glif</string>
    <key>uni0237</key>
    <string>uni0237.glif</string>
    <key>uni0243</key>
    <string>uni0243.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030A</key>
    <string>uni030A_.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni030C</key>
    <string>uni030C_.glif</string>
    <key>uni0312</key>
    <string>uni0312.glif</string>
    <key>uni0326</key>
    <string>uni0326.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
    <key>uni0394</key>
    <string>uni0394.glif</string>
    <key>uni03A9</key>
    <string>uni03A_9.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>uni0E3F</key>
    <string>uni0E_3F_.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>uni2002</key>
    <string>uni2002.glif</string>
    <key>uni2003</key>
    <string>uni2003.glif</string>
    <key>uni2004</key>
    <string>uni2004.glif</string>
    <key>uni2005</key>
    <string>uni2005.glif</string>
    <key>uni2009</key>
    <string>uni2009.glif</string>
    <key>uni200A</key>
    <string>uni200A_.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>uni20A9</key>
    <string>uni20A_9.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>uni20BA</key>
    <string>uni20B_A_.glif</string>
    <key>uni20BD</key>
    <string>uni20B_D_.glif</string>
    <key>uni2105</key>
    <string>uni2105.glif</string>
    <key>uni2113</key>
    <string>uni2113.glif</string>
    <key>uni2116</key>
    <string>uni2116.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>uni2126</key>
    <string>uni2126.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>uni2153</key>
    <string>uni2153.glif</string>
    <key>uni2154</key>
    <string>uni2154.glif</string>
    <key>oneeighth</key>
    <string>oneeighth.glif</string>
    <key>threeeighths</key>
    <string>threeeighths.glif</string>
    <key>fiveeighths</key>
    <string>fiveeighths.glif</string>
    <key>seveneighths</key>
    <string>seveneighths.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowboth</key>
    <string>arrowboth.glif</string>
    <key>arrowupdn</key>
    <string>arrowupdn.glif</string>
    <key>uni2196</key>
    <string>uni2196.glif</string>
    <key>uni2197</key>
    <string>uni2197.glif</string>
    <key>uni2198</key>
    <string>uni2198.glif</string>
    <key>uni2199</key>
    <string>uni2199.glif</string>
    <key>uni21A9</key>
    <string>uni21A_9.glif</string>
    <key>uni21AA</key>
    <string>uni21A_A_.glif</string>
    <key>uni21B0</key>
    <string>uni21B_0.glif</string>
    <key>uni21B1</key>
    <string>uni21B_1.glif</string>
    <key>uni21B2</key>
    <string>uni21B_2.glif</string>
    <key>uni21B3</key>
    <string>uni21B_3.glif</string>
    <key>uni21B4</key>
    <string>uni21B_4.glif</string>
    <key>uni21BB</key>
    <string>uni21B_B_.glif</string>
    <key>uni21C4</key>
    <string>uni21C_4.glif</string>
    <key>uni21C5</key>
    <string>uni21C_5.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>uni2206</key>
    <string>uni2206.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>uni2460</key>
    <string>uni2460.glif</string>
    <key>uni2461</key>
    <string>uni2461.glif</string>
    <key>uni2462</key>
    <string>uni2462.glif</string>
    <key>uni2463</key>
    <string>uni2463.glif</string>
    <key>uni2464</key>
    <string>uni2464.glif</string>
    <key>uni2465</key>
    <string>uni2465.glif</string>
    <key>uni2466</key>
    <string>uni2466.glif</string>
    <key>uni2467</key>
    <string>uni2467.glif</string>
    <key>uni2468</key>
    <string>uni2468.glif</string>
    <key>uni24EA</key>
    <string>uni24E_A_.glif</string>
    <key>uni24FF</key>
    <string>uni24F_F_.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>circle</key>
    <string>circle.glif</string>
    <key>uni25CF</key>
    <string>uni25C_F_.glif</string>
    <key>uni2776</key>
    <string>uni2776.glif</string>
    <key>uni2777</key>
    <string>uni2777.glif</string>
    <key>uni2778</key>
    <string>uni2778.glif</string>
    <key>uni2779</key>
    <string>uni2779.glif</string>
    <key>uni277A</key>
    <string>uni277A_.glif</string>
    <key>uni277B</key>
    <string>uni277B_.glif</string>
    <key>uni277C</key>
    <string>uni277C_.glif</string>
    <key>uni277D</key>
    <string>uni277D_.glif</string>
    <key>uni277E</key>
    <string>uni277E_.glif</string>
    <key>uniE000</key>
    <string>uniE_000.glif</string>
    <key>uniF8FF</key>
    <string>uniF_8F_F_.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>uni00A40301</key>
    <string>uni00A_40301.glif</string>
    <key>i.loclTRK</key>
    <string>i.loclT_R_K_.glif</string>
    <key>uni006A0301</key>
    <string>uni006A_0301.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>zero.tf.zero</key>
    <string>zero.tf.zero.glif</string>
    <key>dollar.tf</key>
    <string>dollar.tf.glif</string>
    <key>cent.tf</key>
    <string>cent.tf.glif</string>
    <key>sterling.tf</key>
    <string>sterling.tf.glif</string>
    <key>florin.tf</key>
    <string>florin.tf.glif</string>
    <key>yen.tf</key>
    <string>yen.tf.glif</string>
    <key>Euro.tf</key>
    <string>E_uro.tf.glif</string>
    <key>percent.tf</key>
    <string>percent.tf.glif</string>
    <key>perthousand.tf</key>
    <string>perthousand.tf.glif</string>
    <key>uni0243.case</key>
    <string>uni0243.case.glif</string>
    <key>uni0243.tf</key>
    <string>uni0243.tf.glif</string>
    <key>uni0243.tf.tf.case</key>
    <string>uni0243.tf.tf.case.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>gbreve.ss01</key>
    <string>gbreve.ss01.glif</string>
    <key>gcircumflex.ss01</key>
    <string>gcircumflex.ss01.glif</string>
    <key>gcommaaccent.ss01</key>
    <string>gcommaaccent.ss01.glif</string>
    <key>gdotaccent.ss01</key>
    <string>gdotaccent.ss01.glif</string>
    <key>g_g.liga</key>
    <string>g_g.liga.glif</string>
    <key>g_g.liga.ss01</key>
    <string>g_g.liga.ss01.glif</string>
    <key>g.sups.ss01</key>
    <string>g.sups.ss01.glif</string>
    <key>a.sups</key>
    <string>a.sups.glif</string>
    <key>b.sups</key>
    <string>b.sups.glif</string>
    <key>c.sups</key>
    <string>c.sups.glif</string>
    <key>d.sups</key>
    <string>d.sups.glif</string>
    <key>e.sups</key>
    <string>e.sups.glif</string>
    <key>f.sups</key>
    <string>f.sups.glif</string>
    <key>g.sups</key>
    <string>g.sups.glif</string>
    <key>h.sups</key>
    <string>h.sups.glif</string>
    <key>i.sups</key>
    <string>i.sups.glif</string>
    <key>j.sups</key>
    <string>j.sups.glif</string>
    <key>k.sups</key>
    <string>k.sups.glif</string>
    <key>l.sups</key>
    <string>l.sups.glif</string>
    <key>m.sups</key>
    <string>m.sups.glif</string>
    <key>n.sups</key>
    <string>n.sups.glif</string>
    <key>o.sups</key>
    <string>o.sups.glif</string>
    <key>p.sups</key>
    <string>p.sups.glif</string>
    <key>q.sups</key>
    <string>q.sups.glif</string>
    <key>r.sups</key>
    <string>r.sups.glif</string>
    <key>s.sups</key>
    <string>s.sups.glif</string>
    <key>t.sups</key>
    <string>t.sups.glif</string>
    <key>u.sups</key>
    <string>u.sups.glif</string>
    <key>v.sups</key>
    <string>v.sups.glif</string>
    <key>w.sups</key>
    <string>w.sups.glif</string>
    <key>x.sups</key>
    <string>x.sups.glif</string>
    <key>y.sups</key>
    <string>y.sups.glif</string>
    <key>z.sups</key>
    <string>z.sups.glif</string>
    <key>zero.case</key>
    <string>zero.case.glif</string>
    <key>one.case</key>
    <string>one.case.glif</string>
    <key>two.case</key>
    <string>two.case.glif</string>
    <key>three.case</key>
    <string>three.case.glif</string>
    <key>four.case</key>
    <string>four.case.glif</string>
    <key>five.case</key>
    <string>five.case.glif</string>
    <key>six.case</key>
    <string>six.case.glif</string>
    <key>seven.case</key>
    <string>seven.case.glif</string>
    <key>eight.case</key>
    <string>eight.case.glif</string>
    <key>nine.case</key>
    <string>nine.case.glif</string>
    <key>one.case.ss02</key>
    <string>one.case.ss02.glif</string>
    <key>zero.case.zero</key>
    <string>zero.case.zero.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>zero.osf.zero</key>
    <string>zero.osf.zero.glif</string>
    <key>one.ss02</key>
    <string>one.ss02.glif</string>
    <key>zero.tf.case</key>
    <string>zero.tf.case.glif</string>
    <key>one.tf.case</key>
    <string>one.tf.case.glif</string>
    <key>two.tf.case</key>
    <string>two.tf.case.glif</string>
    <key>three.tf.case</key>
    <string>three.tf.case.glif</string>
    <key>four.tf.case</key>
    <string>four.tf.case.glif</string>
    <key>five.tf.case</key>
    <string>five.tf.case.glif</string>
    <key>six.tf.case</key>
    <string>six.tf.case.glif</string>
    <key>seven.tf.case</key>
    <string>seven.tf.case.glif</string>
    <key>eight.tf.case</key>
    <string>eight.tf.case.glif</string>
    <key>nine.tf.case</key>
    <string>nine.tf.case.glif</string>
    <key>zero.tf.case.zero</key>
    <string>zero.tf.case.zero.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>seven.tosf</key>
    <string>seven.tosf.glif</string>
    <key>eight.tosf</key>
    <string>eight.tosf.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>zero.tosf.zero</key>
    <string>zero.tosf.zero.glif</string>
    <key>zero.subs</key>
    <string>zero.subs.glif</string>
    <key>one.subs</key>
    <string>one.subs.glif</string>
    <key>two.subs</key>
    <string>two.subs.glif</string>
    <key>three.subs</key>
    <string>three.subs.glif</string>
    <key>four.subs</key>
    <string>four.subs.glif</string>
    <key>five.subs</key>
    <string>five.subs.glif</string>
    <key>six.subs</key>
    <string>six.subs.glif</string>
    <key>seven.subs</key>
    <string>seven.subs.glif</string>
    <key>eight.subs</key>
    <string>eight.subs.glif</string>
    <key>nine.subs</key>
    <string>nine.subs.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>zero.sups</key>
    <string>zero.sups.glif</string>
    <key>one.sups</key>
    <string>one.sups.glif</string>
    <key>two.sups</key>
    <string>two.sups.glif</string>
    <key>three.sups</key>
    <string>three.sups.glif</string>
    <key>four.sups</key>
    <string>four.sups.glif</string>
    <key>five.sups</key>
    <string>five.sups.glif</string>
    <key>six.sups</key>
    <string>six.sups.glif</string>
    <key>seven.sups</key>
    <string>seven.sups.glif</string>
    <key>eight.sups</key>
    <string>eight.sups.glif</string>
    <key>nine.sups</key>
    <string>nine.sups.glif</string>
    <key>backslash.case</key>
    <string>backslash.case.glif</string>
    <key>periodcentered.case</key>
    <string>periodcentered.case.glif</string>
    <key>bullet.case</key>
    <string>bullet.case.glif</string>
    <key>colon.case</key>
    <string>colon.case.glif</string>
    <key>exclamdown.case</key>
    <string>exclamdown.case.glif</string>
    <key>questiondown.case</key>
    <string>questiondown.case.glif</string>
    <key>semicolon.case</key>
    <string>semicolon.case.glif</string>
    <key>slash.case</key>
    <string>slash.case.glif</string>
    <key>underscore.case</key>
    <string>underscore.case.glif</string>
    <key>asterisk.ss04</key>
    <string>asterisk.ss04.glif</string>
    <key>colon.tf</key>
    <string>colon.tf.glif</string>
    <key>comma.tf</key>
    <string>comma.tf.glif</string>
    <key>period.tf</key>
    <string>period.tf.glif</string>
    <key>semicolon.tf</key>
    <string>semicolon.tf.glif</string>
    <key>slash.tf</key>
    <string>slash.tf.glif</string>
    <key>underscore.tf</key>
    <string>underscore.tf.glif</string>
    <key>braceleft.case</key>
    <string>braceleft.case.glif</string>
    <key>braceright.case</key>
    <string>braceright.case.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>bracketright.case</key>
    <string>bracketright.case.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenright.case</key>
    <string>parenright.case.glif</string>
    <key>parenleft.tf</key>
    <string>parenleft.tf.glif</string>
    <key>parenright.tf</key>
    <string>parenright.tf.glif</string>
    <key>emdash.case</key>
    <string>emdash.case.glif</string>
    <key>endash.case</key>
    <string>endash.case.glif</string>
    <key>hyphen.case</key>
    <string>hyphen.case.glif</string>
    <key>hyphen.tf</key>
    <string>hyphen.tf.glif</string>
    <key>guillemotleft.case</key>
    <string>guillemotleft.case.glif</string>
    <key>guillemotright.case</key>
    <string>guillemotright.case.glif</string>
    <key>guilsinglleft.case</key>
    <string>guilsinglleft.case.glif</string>
    <key>guilsinglright.case</key>
    <string>guilsinglright.case.glif</string>
    <key>parenleft.subs</key>
    <string>parenleft.subs.glif</string>
    <key>parenright.subs</key>
    <string>parenright.subs.glif</string>
    <key>parenleft.sups</key>
    <string>parenleft.sups.glif</string>
    <key>parenright.sups</key>
    <string>parenright.sups.glif</string>
    <key>uni0E3F.case</key>
    <string>uni0E_3F_.case.glif</string>
    <key>uni0E3F.tf</key>
    <string>uni0E_3F_.tf.glif</string>
    <key>uni0E3F.tf.tf.case</key>
    <string>uni0E_3F_.tf.tf.case.glif</string>
    <key>uni20BA.case</key>
    <string>uni20B_A_.case.glif</string>
    <key>uni20BA.tf</key>
    <string>uni20B_A_.tf.glif</string>
    <key>uni20BA.tf.tf.case</key>
    <string>uni20B_A_.tf.tf.case.glif</string>
    <key>uni20BD.case</key>
    <string>uni20B_D_.case.glif</string>
    <key>uni20BD.tf</key>
    <string>uni20B_D_.tf.glif</string>
    <key>uni20BD.tf.tf.case</key>
    <string>uni20B_D_.tf.tf.case.glif</string>
    <key>uni20B9.case</key>
    <string>uni20B_9.case.glif</string>
    <key>uni20B9.tf</key>
    <string>uni20B_9.tf.glif</string>
    <key>uni20B9.tf.tf.case</key>
    <string>uni20B_9.tf.tf.case.glif</string>
    <key>uni20A9.case</key>
    <string>uni20A_9.case.glif</string>
    <key>uni20A9.tf</key>
    <string>uni20A_9.tf.glif</string>
    <key>uni20A9.tf.tf.case</key>
    <string>uni20A_9.tf.tf.case.glif</string>
    <key>currency.case</key>
    <string>currency.case.glif</string>
    <key>dollar.case</key>
    <string>dollar.case.glif</string>
    <key>Euro.case</key>
    <string>E_uro.case.glif</string>
    <key>sterling.case</key>
    <string>sterling.case.glif</string>
    <key>currency.tf.case</key>
    <string>currency.tf.case.glif</string>
    <key>dollar.tf.case</key>
    <string>dollar.tf.case.glif</string>
    <key>Euro.tf.case</key>
    <string>E_uro.tf.case.glif</string>
    <key>sterling.tf.case</key>
    <string>sterling.tf.case.glif</string>
    <key>yen.tf.case</key>
    <string>yen.tf.case.glif</string>
    <key>yen.case</key>
    <string>yen.case.glif</string>
    <key>currency.tf</key>
    <string>currency.tf.glif</string>
    <key>plus.case</key>
    <string>plus.case.glif</string>
    <key>minus.case</key>
    <string>minus.case.glif</string>
    <key>multiply.case</key>
    <string>multiply.case.glif</string>
    <key>divide.case</key>
    <string>divide.case.glif</string>
    <key>equal.case</key>
    <string>equal.case.glif</string>
    <key>notequal.case</key>
    <string>notequal.case.glif</string>
    <key>greater.case</key>
    <string>greater.case.glif</string>
    <key>less.case</key>
    <string>less.case.glif</string>
    <key>greaterequal.case</key>
    <string>greaterequal.case.glif</string>
    <key>lessequal.case</key>
    <string>lessequal.case.glif</string>
    <key>plusminus.case</key>
    <string>plusminus.case.glif</string>
    <key>approxequal.case</key>
    <string>approxequal.case.glif</string>
    <key>asciitilde.case</key>
    <string>asciitilde.case.glif</string>
    <key>logicalnot.case</key>
    <string>logicalnot.case.glif</string>
    <key>infinity.case</key>
    <string>infinity.case.glif</string>
    <key>emptyset.case</key>
    <string>emptyset.case.glif</string>
    <key>plus.tf.case</key>
    <string>plus.tf.case.glif</string>
    <key>minus.tf.case</key>
    <string>minus.tf.case.glif</string>
    <key>divide.tf.case</key>
    <string>divide.tf.case.glif</string>
    <key>equal.tf.case</key>
    <string>equal.tf.case.glif</string>
    <key>emptyset.tf.case</key>
    <string>emptyset.tf.case.glif</string>
    <key>plus.tf</key>
    <string>plus.tf.glif</string>
    <key>minus.tf</key>
    <string>minus.tf.glif</string>
    <key>divide.tf</key>
    <string>divide.tf.glif</string>
    <key>equal.tf</key>
    <string>equal.tf.glif</string>
    <key>emptyset.tf</key>
    <string>emptyset.tf.glif</string>
    <key>uni21BB.alt</key>
    <string>uni21B_B_.alt.glif</string>
    <key>arrowup.ss03</key>
    <string>arrowup.ss03.glif</string>
    <key>uni2197.ss03</key>
    <string>uni2197.ss03.glif</string>
    <key>arrowright.ss03</key>
    <string>arrowright.ss03.glif</string>
    <key>uni2198.ss03</key>
    <string>uni2198.ss03.glif</string>
    <key>arrowdown.ss03</key>
    <string>arrowdown.ss03.glif</string>
    <key>uni2199.ss03</key>
    <string>uni2199.ss03.glif</string>
    <key>arrowleft.ss03</key>
    <string>arrowleft.ss03.glif</string>
    <key>uni2196.ss03</key>
    <string>uni2196.ss03.glif</string>
    <key>at.case</key>
    <string>at.case.glif</string>
    <key>section.case</key>
    <string>section.case.glif</string>
    <key>bar.case</key>
    <string>bar.case.glif</string>
    <key>brokenbar.case</key>
    <string>brokenbar.case.glif</string>
    <key>dagger.case</key>
    <string>dagger.case.glif</string>
    <key>daggerdbl.case</key>
    <string>daggerdbl.case.glif</string>
    <key>bar.tf</key>
    <string>bar.tf.glif</string>
    <key>plus.subs</key>
    <string>plus.subs.glif</string>
    <key>minus.subs</key>
    <string>minus.subs.glif</string>
    <key>multiply.subs</key>
    <string>multiply.subs.glif</string>
    <key>divide.subs</key>
    <string>divide.subs.glif</string>
    <key>plus.sups</key>
    <string>plus.sups.glif</string>
    <key>minus.sups</key>
    <string>minus.sups.glif</string>
    <key>multiply.sups</key>
    <string>multiply.sups.glif</string>
    <key>divide.sups</key>
    <string>divide.sups.glif</string>
    <key>caronaccentcomb</key>
    <string>caronaccentcomb.glif</string>
  </dict>
</plist>
